$bg-color: #00DDDD;
$font-color: white;
@mixin flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dolist {
  @include flex-box;
  background:#FFFFFF;
  width: 100%;
  height: 80px;
  color: #33CCFF;
  font-size: 15px;
}

.show,.item {
  @include flex-box;
  margin: 10px auto;
}

input {
  width: 200px;
  margin: 10px;
}

button {
  background: #33CCFF;
  color: $font-color;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
  border: none;
  &:hover {background-color: #33CCFF;}
}
